Source: funkload
Section: web
Priority: extra
Maintainer: Toni Mueller <toni@debian.org>
Build-Depends: python, cdbs, debhelper (>= 5), docbook-to-man, python-docutils, python-central (>= 0.5), python-setuptools
XS-Python-Version: 2.4, 2.5
Standards-Version: 3.7.3

Package: funkload
Architecture: all
Depends: python, python-xml, python-central (>= 0.5), python-setuptools, python-webunit (>= 1.3.8), python-webunit (< 1.3.9), python-docutils
Recommends: tcpwatch-httpproxy, gnuplot (>= 4.2)
XB-Python-Version: ${python:Versions}
Description: web testing tool
 This web testing tool is designed to allow testing the functionality
 and performance of web applications in the same spirit as Perl's
 WWW::Mechanize. The tool supports recording clicks through a website,
 saving them into a Python class which you can later modify, and
 playing them back later. This allows you to script your web
 applications. 'funkload' also supports performance and load testing
 your applications.
 .
