#!/usr/bin/make -f

PACKAGE=funkload

export DH_VERBOSE=1

UPSTREAM_VERSION=1.10.0


DEB_PYTHON_SYSTEM=pycentral

DEB_PYTHON_VERSIONS=all


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-install/funkload::
	cp -a CHANGES.txt debian/funkload/usr/share/doc/funkload/changelog
	rm -f debian/funkload/usr/share/doc/funkload/CHANGES.txt.*
	cp -a debian/funkload.html debian/funkload/usr/share/doc/funkload
	(echo -n "current tree "; bzr revno ) > debian/note-to-self || true
	cp -a debian/note-to-self debian/funkload/usr/share/doc/funkload
	dh_installman debian/*.1
	perl debian/dh_installoverrides
	rm -fr debian/funkload/usr/lib

